*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;}

    /*html {
        font-size: 62.5%;
    }
*/
    .header {
        position: fix;
        top: 0;
        left: 0;
        width: 100%;
        padding: 1rem;
        background-color: #1F2937;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }
    .logo {
        font-size: 24px;
        color: #F9FAF8;
    }
    .navbar {
        font-size: 18px;
        color: #F9FAF8;
        /*text-decoration-color: none;*/
        /* the text color is not changing.. I'm not sure why but it might be because something else is overriding it AND/OR because these are links and I need to find a way to change the link color */
    }